<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

## Lab 2: Data wrangling

Estimated time needed: **60** minutes

En este laboratorio, realizaremos un Análisis Exploratorio de Datos (AED) para encontrar algunos patrones en los datos y determinar cuál sería la etiqueta para entrenar modelos supervisados.

En el conjunto de datos, hay varios casos diferentes en los que el cohete no aterrizó con éxito. Por ejemplo, "True Ocean" significa que el resultado de la misión fue un aterrizaje exitoso en una región específica del océano, mientras que `False Ocean` significa que el resultado de la misión fue un aterrizaje fallido en una región específica del océano. `True RTLS" significa que el resultado de la misión fue aterrizado con éxito en una plataforma terrestre.  `True ASDS" significa que el resultado de la misión fue aterrizado con éxito en un barco no tripulado. `Falso ASDS` significa que el resultado de la misión fue aterrizado con éxito en la nave del avión no tripulado,

En este laboratorio convertiremos principalmente esos resultados en Etiquetas de Entrenamiento con `1` significa que el booster aterrizó con éxito `0` significa que no tuvo éxito.

La primera etapa del Falcon 9 aterrizará con éxito

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing\_1.gif)

Aquí se muestran varios ejemplos de un aterrizaje fallido:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

## Objetivos

Realizar un Análisis Exploratorio de Datos y determinar las Etiquetas de Formación

* Análisis exploratorio de datos
* Determinar las Etiquetas de Entrenamiento

***

## Importar Bibliotecas y Definir Funciones Auxiliares

Importaremos las siguientes bibliotecas.

In [1]:
# pandas (manejo de datos) y numpy (para opereciones de matrizes)
import pandas as pd
import numpy as np

### Análisis de datos

Cargue el conjunto de datos Space X, de la última sección.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identifique y calcule el porcentaje de los valores que faltan en cada atributo

In [5]:
df.isnull().sum(), df.count()

(FlightNumber       0
 Date               0
 BoosterVersion     0
 PayloadMass        0
 Orbit              0
 LaunchSite         0
 Outcome            0
 Flights            0
 GridFins           0
 Reused             0
 Legs               0
 LandingPad        26
 Block              0
 ReusedCount        0
 Serial             0
 Longitude          0
 Latitude           0
 dtype: int64,
 FlightNumber      90
 Date              90
 BoosterVersion    90
 PayloadMass       90
 Orbit             90
 LaunchSite        90
 Outcome           90
 Flights           90
 GridFins          90
 Reused            90
 Legs              90
 LandingPad        64
 Block             90
 ReusedCount       90
 Serial            90
 Longitude         90
 Latitude          90
 dtype: int64)

In [7]:
df.isnull().sum()/df.count() * 100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identificar qué columnas son numéricas y categóricas:

In [8]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calcular el número de lanzamientos en cada sitio

Los datos contienen varias instalaciones de lanzamiento de Space X:<a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'> Cabo Cañaveral </a> Complejo de lanzamiento 40  <b>VAFB SLC 4E </b> , Complejo de lanzamiento espacial 4E de la base aérea de Vandenberg  <b>(SLC-4E)</b>, Kennedy Space Center Launch Complex 39A <b>KSC LC 39A </b>.La ubicación de cada lanzamiento se coloca en la columna `LaunchSite`.

A continuación, veamos el número de lanzamientos de cada sitio.

Usar el metodo `value_counts()` en la columna `LaunchSite` para determinar el número de lanzamientos en cada sitio:

In [12]:
# Apply value_counts() on column LaunchSite
df.LaunchSite.value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

Cada lanzamiento tiene como objetivo una órbita determinada, y a continuación se indican algunos tipos de órbita comunes:

*   <b>LEO</b>: La órbita baja (LEO) es una órbita centrada en la Tierra con una altitud de 2.000 km o menos (aproximadamente un tercio del radio de la Tierra), [1] o con al menos 11,25 periodos por día (un periodo orbital de 128 minutos o menos) y una excentricidad inferior a 0,25. [2]  La mayoría de los objetos fabricados por el hombre en el espacio exterior están en LEO <a href='https://en.wikipedia.org/wiki/Low_Earth_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[1]</a>.  



*   <b>VLEO</b>: Las órbitas terrestres muy bajas (VLEO) pueden definirse como las órbitas con una altitud media inferior a 450 km. Operar en estas órbitas puede proporcionar una serie de beneficios a las naves espaciales de observación de la Tierra, ya que la nave espacial opera más cerca de la observación<a href='https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01'>\[2]</a>.  


*   <b>GTO</b> Una órbita geosincrónica es una órbita terrestre alta que permite a los satélites coincidir con la rotación de la Tierra. Situada a 35.786 kilómetros por encima del ecuador de la Tierra, esta posición es un punto valioso para el seguimiento de la meteorología, las comunicaciones y la vigilancia. Dado que el satélite orbita a la misma velocidad que gira la Tierra, el satélite parece mantenerse en una única longitud, aunque puede desviarse de norte a sur", escribió la NASA en su página web del Observatorio de la Tierra <a  href="https://www.space.com/29222-geosynchronous-orbit.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" >\[3] </a>.  


*   <b>SSO (or SO)</b>: Es una órbita sincrónica al Sol también llamada órbita heliosincrónica es una órbita casi polar alrededor de un planeta, en la que el satélite pasa sobre cualquier punto de la superficie del planeta en el mismo tiempo solar medio local <a href="https://en.wikipedia.org/wiki/Sun-synchronous_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[4] <a>.  

*   <b>ES-L1 </b>: En los puntos de Lagrange, las fuerzas gravitatorias de los dos grandes cuerpos se anulan de tal manera que un pequeño objeto colocado en órbita allí está en equilibrio respecto al centro de masa de los grandes cuerpos. L1 es uno de estos puntos entre el sol y la tierra <a href="https://en.wikipedia.org/wiki/Lagrange_point?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01#L1_point">\[5]</a> .  



*   <b>HEO</b> Una órbita altamente elíptica, es una órbita elíptica con alta excentricidad, generalmente referida a una alrededor de la Tierra <a href="https://en.wikipedia.org/wiki/Highly_elliptical_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">\[6]</a>.  


*   <b> ISS </b> Una estación espacial modular (satélite artificial habitable) en órbita terrestre baja. Es un proyecto de colaboración multinacional entre cinco agencias espaciales participantes: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Japón), ESA (Europa) y CSA (Canadá)<a href="https://en.wikipedia.org/wiki/International_Space_Station?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[7] </a>  


*   <b> MEO </b> Órbitas geocéntricas que van desde los 2.000 km de altitud hasta justo por debajo de la órbita geosíncrona, a 35.786 km. También se conoce como órbita circular intermedia. Estas órbitas son "las más comunes a 20.200 kilómetros (12.600 mi), o 20.650 kilómetros (12.830 mi), con un período orbital de 12 horas <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[8] </a>  


*   <b> HEO </b> Órbitas geocéntricas por encima de la altitud de la órbita geosíncrona (35.786 km o 22.236 mi) <a href="https://en.wikipedia.org/wiki/List_of_orbits?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[9] </a>  


*   <b> GEO </b> Se trata de una órbita geosincrónica circular a 35.786 kilómetros (22.236 millas) sobre el ecuador de la Tierra y siguiendo la dirección de la rotación terrestre <a href="https://en.wikipedia.org/wiki/Geostationary_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[10] </a>  


*   <b> PO </b> Es un tipo de satélites en el que un satélite pasa por encima o casi por encima de ambos polos del cuerpo que se orbita (normalmente un planeta como la Tierra <a href="https://en.wikipedia.org/wiki/Polar_orbit?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01"> \[11] </a>

algunos se muestran en el siguiente gráfico:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

### Tarea 2: Calcular el número y la ocurrencia de cada órbita  

Utilice el método `value_counts()` para determinar el número y la ocurrencia de cada órbita en la columna `Orbit`.

In [13]:
# Apply value_counts on Orbit column
df["Orbit"].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome per orbit type

Calcular el número y la ocurrencia del resultado de la misión por tipo de órbita

Utiliza el método value_counts() en la columna `Outcome` para determinar el número de `landing_outcomes` y asignarlo a la variable `landing_outcomes`.

In [14]:
# landing_outcomes = values on Outcome column
landing_outcomes = df["Outcome"].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

`True Ocean` significa que el resultado de la misión fue el aterrizaje exitoso en una región específica del océano mientras `False Ocean` significa que el resultado de la misión fue el aterrizaje sin éxito en una región específica del océano. `True RTLS` significa que el resultado de la misión fue el aterrizaje exitoso en una plataforma de tierra `False RTLS` significa que el resultado de la misión fue un aterrizaje fallido en una plataforma terrestre.`True ASDS` significa que el resultado de la misión fue aterrizado con éxito en una nave no tripulada `False ASDS` significa que el resultado de la misión fue aterrizado sin éxito a una nave no tripulada. `None ASDS` y `None None` representan un fracaso en el aterrizaje.

In [15]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

Creamos un conjunto de resultados en los que la segunda etapa no aterrizó con éxito:

In [27]:
landing_outcomes.keys()

Index(['True ASDS', 'None None', 'True RTLS', 'False ASDS', 'True Ocean',
       'False Ocean', 'None ASDS', 'False RTLS'],
      dtype='object')

In [23]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TASK 4: Crear una etiqueta de resultado de aterrizaje a partir de la columna Resultado

Usando `Outcome`, crear una lista donde el elemento es cero si la fila correspondiente en `Outcome` está en el conjunto `bad_outcome`; si no, es uno.   
A continuación, se asigna a la variable `landing_class`:

In [24]:
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise
#def onehot(item):
#    if item in bad_outcomes:
#        return 0
#    else:
#        return 1
#landing_class = df["Outcome"].apply(onehot)

landing_class = df["Outcome"].apply(lambda x : 0 if x in bad_outcomes else 1)
landing_class

0     0
1     0
2     0
3     0
4     0
     ..
85    1
86    1
87    1
88    1
89    1
Name: Outcome, Length: 90, dtype: int64

Esta variable representará la variable de clasificación que representa el resultado de cada lanzamiento. Si el valor es cero, la primera etapa no aterrizó con éxito; uno significa que la primera etapa aterrizó con éxito

In [28]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [29]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

Podemos utilizar la siguiente línea de código para determinar el porcentaje de éxito:

In [30]:
df["Class"].mean()

0.6666666666666666

Ahora podemos exportarlo a un CSV para la siguiente sección, pero para que las respuestas sean coherentes, en el siguiente laboratorio proporcionaremos datos en un rango de fechas preseleccionado.

<code>df.to_csv("dataset_part\_2.csv", index=False)</code>

## Authors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

<a href="https://www.linkedin.com/in/nayefaboutayoun/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Nayef Abou Tayoun</a> is a Data Scientist at IBM and pursuing a Master of Management in Artificial intelligence degree at Queen's University.

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description      |
| ----------------- | ------- | ------------- | ----------------------- |
| 2021-08-31        | 1.1     | Lakshmi Holla | Changed Markdown        |
| 2020-09-20        | 1.0     | Joseph        | Modified Multiple Areas |
| 2020-11-04        | 1.1.    | Nayef         | updating the input data |
| 2021-05-026       | 1.1.    | Joseph        | updating the input data |

Copyright © 2021 IBM Corporation. All rights reserved.